<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.caotf.spring.pojo.Student">
        <constructor-arg name="name" value="caotf">
        </constructor-arg>
        <constructor-arg name="age" value="25"></constructor-arg>
        <constructor-arg name="school" ref="school"></constructor-arg>
    </bean>
    <bean id="school" class="com.caotf.spring.pojo.School">
        <property name="name" value="清华"></property>
        <property name="address" value="北京"></property>
    </bean>
</beans>